.p-20px { padding: 20px }
.pt-20px { padding-top: 20px }
.container {
    padding:20px;
    border-radius: 10px;
}
.sprite {
    width: 50px; 
    float:right
}
.sprite-container {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 20px;
}