<app-side-bar>
    <!-- loader -->
    <app-loader *ngIf="firstLoad" [diameter]="200"></app-loader>
    
    <div *ngIf="!firstLoad">
        <mat-card class="no-bs bg-secondary no-br" appearance="outlined">
            <!-- header section -->
            <mat-card-header class="bg-primary">
                <div class="w-full pt-20px">
                    <mat-card-title class="text-white">Pokemons</mat-card-title>
                    <mat-card-subtitle class="text-white">Pokedex</mat-card-subtitle>
                </div>
                <div class="w-full" style="display: none;">
                    <button class="fr close-btn" type="button" mat-raised-button (click)="closePokedex()">Close Pokedex</button>
                </div>
            </mat-card-header>
    
            <!-- search section -->
            <div class="search-container">
                <mat-tab-group>
                    <mat-tab label="Basic Search">
                        <mat-grid-list class="mt-10px" [cols]="4" rowHeight='80px' [gutterSize]="'20px'">
                            <mat-grid-tile
                                [colspan]="1"
                                [rowspan]="1">
                                <div class="w-full">
                                    <mat-form-field appearance="outline" class="w-full">
                                        <mat-label>Select Type</mat-label>
                                        <mat-select (selectionChange)="filterByType($event)" [(value)]="selectedType">
                                            <mat-option *ngFor="let tl of typeList" [value]="tl">{{ tl }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile
                                [colspan]="3"
                                [rowspan]="1">
                                <div class="w-full">
                                    <mat-form-field appearance="outline" class="w-full">
                                        <mat-label>Search Pokemon</mat-label>
                                        <input matInput [(ngModel)]="keyWord" (keyup)="searchPokemon()">
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-tab>
                    <mat-tab label="Advance Search">
                        <mat-grid-list class="mt-10px" [cols]="1" rowHeight='80px' [gutterSize]="'20px'">
                            <mat-grid-tile
                                [colspan]="1"
                                [rowspan]="1">
                                <div class="w-full">
                                    <mat-form-field appearance="outline" class="w-full">
                                        <mat-label>Search Pokemon</mat-label>
                                            <input matInput type="search" [(ngModel)]="advanceKeyWord" (keyup.enter)="advanceSearch()">
                                            <button class="search-button" type="button" mat-raised-button matSuffix (click)="advanceSearch()">
                                                <mat-icon class="search-icon">search</mat-icon>
                                            </button>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-tab>
                </mat-tab-group>
            </div>
    
            <!-- search progress bar -->
            <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    
            <!-- pokemon display -->
            <div class="card-container bg-primary responsive-grid" *ngIf="pokemonList">
                <mat-card *ngFor="let pl of pokemonList" [ngClass]="pokemonType[pl.name] ? (pokemonType[pl.name][0]['type']['name']+'-card') : ''" class="pokemon-card" (click)="checkStats(pl.name)">
                    <p class="text-center">{{ pl.name }}</p>
                    <br/>
                    <div class="w-full img-container">
                        <img *ngIf="!imgStatus[pl.name]" mat-card-image src="assets/pokeball.png">
                        <img [@showImage]="!imgStatus[pl.name] ? 'closed' : 'open'" *ngIf="pokemonImages[pl.name]" [hidden]="!imgStatus[pl.name]" mat-card-image [src]="pokemonImages[pl.name]" (load)="imgLoaded(pl.name)">
                    </div>
                    <mat-card-content style="min-height: 84px;">
                        <p  class="" *ngFor="let t of pokemonType[pl.name]">
                            <button class="btn-type {{ t.type['name'] }}" type="button" mat-raised-button>{{ t.type['name'] }}</button>
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
    
            <!-- paginator -->
            <mat-paginator #paginator [length]="totalPage" [pageSize]="limit" (page)="triggerPaginate($event)" aria-label="Select page"></mat-paginator>

        </mat-card>
    </div>
</app-side-bar>