.text-center {
    text-align: center;
}
.text-white {
    color: white;
}

.poke-image {
    width: 200px;
    image-rendering: pixelated;
}

.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    // height: 60px;
  }
  
  .mat-progress-bar {
    height: 15px;
  }
  