<div>
    <table>
        <tr><td colspan="2" class="text-center">{{ data.name }}</td></tr>
        <tr><td colspan="2"><mat-divider></mat-divider></td></tr>
        <tr>
            <td colspan="2"><img class="poke-image" [src]="data.image"></td>
        </tr>
        <tr>
            <td colspan="2">
                <mat-grid-list cols="{{ data.type.length == '1' ? '1' : '2' }}" rowHeight="30px">
                    <mat-grid-tile *ngFor="let t of data.type">
                        <button class="text-white {{ t.type['name'] }}" type="button" mat-raised-button>{{ t.type['name'] }}</button>
                    </mat-grid-tile>
                  </mat-grid-list>
            </td>
        </tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr><td colspan="2"><mat-divider></mat-divider></td></tr>
        <tr *ngFor="let s of data.stats">
            <!-- <td colspan="2">
                {{ s['stat']['name'] }}
                <section class="example-section">
                    <mat-progress-bar
                        class="example-margin"
                        [value]="s['base_stat']"
                        [bufferValue]="75">
                    </mat-progress-bar>
                    <div style="position: absolute; padding: 10px; color: white;">{{ s['base_stat'] }}</div>
                </section>
            </td> -->
            <td>{{ s['stat']['name'] }}</td>
            <td>{{ s['base_stat'] }}</td>
        </tr>
        <tr><td colspan="2"><mat-divider></mat-divider></td></tr>
        <tr>
            <td>Total</td>
            <td>{{ total }}</td>
        </tr>
    </table>
</div>