.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.w-full { width: 100%; }
.pt-20px { padding-top: 20px }
.mb-10px { margin-bottom: 10px; }
.text-white { color: white; }
.fr { float: right; }
.close-btn {
    background: #DF4D4D;
    color: white;
    margin-top: 20px;
    margin-right: 20px;
}
.close-btn:hover { background: #DB3232 }
.pokeball {
    position: fixed;
    right: 50%;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}


.login-btn {
    background: #283048;
    color: white;
    margin-top: 20px;
    margin-right: 20px;
}
.fields {
    padding: 30px 30px 10px 30px;
}