<div class="bg-primary" style="width: 100%;" [@slideLines] (@slideLines.done)="animationDone($event, 'line')">&nbsp;</div>

<img src="assets/pokeball2.png" class="pokeball" >

<mat-grid-list [cols]="column" [rowHeight]="row" >
  <mat-grid-tile
    [colspan]="3"
    [rowspan]="1"
    [style.color]="'white'">
      <div class="center-line bg-primary" style="width: 100%;" [@slideLines]>
        <div class="trainer-container" [@showText]="show['text'] ? 'show' : 'none'" (@showText.done)="animationDone($event, 'text')">
          <h1 class="author">Aldon Prince S. Velasco</h1>
          <h2 class="pokedex">Pokemon Trainer</h2> 
          <button class="btn" type="button" (click)="openLogin()" mat-raised-button>Private Pokedex</button>
        </div>
        <div class="starting-pokemon-container">
          <img class="starting-pokemon" src="../assets/starting-pokemon.png" style="opacity:0;" [@showPokemon]="show['image'] ? 'show' : 'none'">
        </div>
      </div>
  </mat-grid-tile>
</mat-grid-list>

<div class="bottom-line bg-primary" style="width: 100%;" [@slideLines]>&nbsp;</div>