<div class="card-container responsive-grid" >
    <div class="flip-primary">
        <div class="flip-secondary" (click)="toggleFlip()" [@flipState]="flip" matTooltip="View Info" matTooltipPosition="above">
            <mat-card [ngClass]="data.type ? (data.type[0]['type']['name']+'-card') : ''" class="flip-cards front-card">
                <p class="text-center">{{ data.name }}</p>
                <br/>
                <div class="w-full img-container">
                    <img class="poke-image" [src]="data.image">
                </div>
                <mat-grid-list cols="{{ data.type.length == '1' ? '1' : '2' }}" rowHeight="30px">
                    <mat-grid-tile *ngFor="let t of data.type">
                        <button class="text-white {{ t.type['name'] }}" type="button" mat-raised-button>{{ t.type['name'] }}</button>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>
            <mat-card [ngClass]="data.type ? (data.type[0]['type']['name']+'-card') : ''" class="flip-cards back-card">
                <h2>{{ data.name }}</h2>
                <p>{{ description }}</p>
            </mat-card>
        </div>
    </div>

    <mat-card class="base-stats-container">
        <table class="w-full">
            <tr class="base-stats-head">
                <td colspan="2">
                    <b>Base Stats</b>
                </td>
            </tr>
            <tr *ngFor="let s of data.stats">
                <td colspan="2">
                    {{ s['stat']['name'] }}
                    <section class="base-stats-section">
                        <mat-progress-bar [value]="((s['base_stat']/255)*100 | number: '1.0-0')"></mat-progress-bar>
                        <div class="base-stats-percent">{{ ((s['base_stat']/255) | percent ) }}</div>
                    </section>
                </td>
            </tr>
        </table>
    </mat-card>
</div>