/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html { height: 100%; }
body { 
    height: 100%;
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url('assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover; // 100% 100%;
    background-position: center;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: white;
}

.mat-progress-bar-fill::after {
    background-color: #DF4D4D;
}

.normal { background-color: #9FA19F; }
.grass { background-color: #47AB57; }
.fire { background-color: #FD7D24; }
.water, .ice { background-color: #4592C4; }
.bug { background-color: #719F3F; }
.electric { background-color: #EED535; }
.rock { background-color: #A38C21; }
.ghost { background-color: #7B62A3; }
.poison { background-color: #B97FC9; }
.psychic { background-color: #F366B9; }
.fighting { background-color: #D56723; }
.ground { background-color: #AB9842; }
.dragon { background-color: #F06D56; }
.flying { background-color: #81B9EF; }
.steel { background-color: #B7B7CE; }
.dark { background-color: #705746; }
.fairy { background-color: #D685AD; }
.shadow { background-color: #181e31; }
.stellar { background-color: #40B5A5; }
.unknown { background-color: #68A090; }